body {
    margin: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-repeat: no-repeat;
    padding: 20px;
    background-image: url("../../public/car.jpg");
    overflow: hidden;
}

.services, .booking, .about-us, .contact {
    margin-bottom: 40px;
    color: white;
}
.services {
    max-width: 500px;
    margin: 40px;
    justify-content: left;
}

.services-heading {
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
}

.services-description {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.services-list {
    list-style-type: none;
    padding: 15px;
}

.services-list li {
    margin-bottom: 10px;
    color: white;
    font-size: 1.5em;
}

.services-list li::before {
    content: '\2022';
    color: darkred;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}